* {
	margin:0;
	padding:0
}

input[type="text"] {
width: 600px;
height: 100px;
	
}

.linedwrap {
	border: 1px solid #101010;
	padding: 3px;
        border-radius: 5px;
        background-color: #111;
        -webkit-box-shadow: 0 1px 3px 1px #000;
}

.linedtextarea {
	padding: 0px;
	margin: 0px;
}

.linedtextarea textarea, .linedwrap .codelines .lineno {
	font: 18px "Century Gothic", Helvetica, sans;
	line-height: 42px !important;
}

.linedtextarea textarea {
	border: 0;
}

.linedwrap .lines {
	margin-top: 7px;
	width: 50px;
	float: left;
	overflow: hidden;
        padding-top: 6px;
	margin-right: 10px;
}

.linedwrap .codelines {
	padding-top: 5px;
}

.linedwrap .codelines .lineno {
	color:#c0c0c0;
	padding-right: 0.5em;
	text-align: right;
	white-space: nowrap;
}

.linedwrap .codelines .lineselect {
	color: red;
}